@model string[]

@{
    ViewBag.Title = "Index";
}

<ul>
    @{ 
        foreach(var filename in Model)
        {
            <li>@Html.ActionLink(filename, "Content", new { file = filename})</li>
        }
    }
</ul>