@model string[]
 
@{
    ViewBag.Title = "Index";
}

<ul>
    @{ 
        foreach (var filename in Model)
        {
            <li>@Html.ActionLink(filename, "Content", new { id = filename })</li>
            /*<li>Html.ActionLink("Modify Villa", "Modify", "Villa", new { id = "1" }, null)</li>*/
        }
    }
</ul>