@model System.Diagnostics.Process

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p><b>Process ID:</b>@Model.Id</p>
<p><b>Process Name:</b>@Model.ProcessName</p>
<p><b>Process Handle:</b>@Model.HandleCount</p>