
@{
    ViewBag.Title = "Index";

    var processes = ViewBag.CurrentProcesses as System.Diagnostics.Process[];
}

<h2>Index</h2>

<ul>
    @foreach (var i in processes)
    {
        <li>@Html.ActionLink(i.ProcessName, "Details", new { id = i.Id })</li>
    }
</ul>